.container1440 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.about-space {
    margin-bottom: 13px;
}

.about-space2 {
    margin-bottom: 33px;
}