.container-primary-infos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container-primary-infos-left {
    display: flex;
    flex-direction: column;
}

.container-primary-infos-right {
    display: flex;
    flex-direction: column;
}

.host {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.host .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.host img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.rental-name {
    font-size: 36px;
    font-weight: 500;
}

.rental-location {
    font-size: 18px;
    font-weight: 100;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.tags li {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: auto;
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 14px;
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
}

.tags li:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.stars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.stars svg {
    width: 30px;
    height: 30px;
}

.container-dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

/* .banner {
    height: 415px;
} */