.container-rentals {
    height: auto;
    padding: 50px 0px 0px 0px;
    background-color: #f6f6f6;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 43px 0px;
    border-radius: 25px;
}

.cardc {
    width: 30%;
    margin-bottom: 10px;

    @media screen and (max-width: 1440px) {
        width: calc(33.333% - 20px);
    }

    @media (max-width: 1024px) {
        width: calc(50% - 20px);
    }
    
    @media (max-width: 768px) {
        width: calc(100% - 20px);
    }

    @media (max-width: 425px) {
        width: 90%;
    }
}